.block-certificates {
    background-image: url(../../assets/images/block-certificates/fone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 5% 0 0;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #000000;
    @media (max-width: $iPadPro) {
        font-size: 16px;
    }
    @media (max-width:$phone) {
        font-size: 12px;
    }
    &__title {
        margin-top: -100px;
        height: 110px;
        background: linear-gradient(90.32deg, #FF6300 0%, #FFB000 82.66%);
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        padding-top: 2%;
        margin-bottom: 2%;
        @media (max-width: $desktop) {
            height: 100px;
            font-size: 32px;
        }
        @media (max-width:$iPadPro) {
            height: 90px;
            font-size: 28px;
        }
        @media (max-width:$tablet) {
            height: 60px;
            font-size: 24px;
        }
        @media (max-width:$phone) {
            font-size: 16px;
            margin-top: -60px;
        }
    }
    &__container-flex {
        display: flex;
        padding: 1% 10%;
        justify-content: center;
        background: linear-gradient(152.46deg, rgba(219, 242, 121, 0.39) 2.23%, rgba(163, 239, 0, 0.31) 100.26%);
        @media (max-width: $tablet) {
            flex-direction: column;
        }
        @media (max-width:$tablet) {
            padding: 1% 5%;
        }
    }
    &__container-title {
        font-weight: 600;
        color: #FF6E01;
        font-size: 24px;
        margin-bottom: 30px;
        @media (max-width: $iPadPro) {
            font-size: 20px;
            margin-bottom: 0;
        }
    }
    &__container-item {
        width: 50%;
        @media (max-width: $tablet) {
            width: 100%;
        }
    }
    &__container-img {
        display: flex;
        justify-content: space-between;
        padding: 3% 20%;
        @media (max-width: $tablet) {
            padding: 3% 0;
        }
    }
    &__item-img {
        height: 300px;
        @media (max-width: $tablet) {
            height: 200px
        }
        @media (max-width:$phone) {
            height: 130px;
        }
    }
}